RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.html [L]

<FilesMatch "\.(js|css|png|jpg|jpeg|gif|svg|ico)$">
  ExpiresActive On
  ExpiresDefault "access plus 1 month"
</FilesMatch>

Options -Indexes